@model BVTV.Entity.TRONGTROT

@{
    ViewBag.Title = "Xóa trồng trọt - " + Model.MaDoiTuong;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDelete.cshtml";
}
<h3>Bạn chắc chắn muốn xóa?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="button" /> |
        @Html.ActionLink("Quay trở lại", "Index")
    </div>
}
