@{
    ViewBag.Title = "Thông tin sâu bệnh";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="project-area" class="project-area section pt-120 pb-90">
    <div class="container">
        <div class="row">
            <!--  Single Project  -->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="single-project">
                    <!--  Image  -->
                    <img src="img/project/1.jpg" alt="">
                    <!--  Title  -->
                    <h4><a href="#">All the Lorem Ipsum Gener</a></h4>
                    <!--  Tags  -->
                    <div class="tags fix">
                        <a href="#">Energy</a>
                        <a href="#">Green</a>
                        <a href="#">Solar</a>
                    </div>
                    <!--  Content  -->
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClitock,</p>
                    <!--  Button  -->
                    <a class="button" href="#">Learn More</a>
                </div>
            </div>
            <!--  Single Project  -->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="single-project">
                    <!--  Image  -->
                    <img src="img/project/2.jpg" alt="">
                    <!--  Title  -->
                    <h4><a href="#">It is a long established fact</a></h4>
                    <!--  Tags  -->
                    <div class="tags fix">
                        <a href="#">Energy</a>
                        <a href="#">Green</a>
                        <a href="#">Solar</a>
                    </div>
                    <!--  Content  -->
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClitock,</p>
                    <!--  Button  -->
                    <a class="button" href="#">Learn More</a>
                </div>
            </div>
            <!--  Single Project  -->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="single-project">
                    <!--  Image  -->
                    <img src="img/project/3.jpg" alt="">
                    <!--  Title  -->
                    <h4><a href="#">All the Lorem Ipsum Gener</a></h4>
                    <!--  Tags  -->
                    <div class="tags fix">
                        <a href="#">Energy</a>
                        <a href="#">Green</a>
                        <a href="#">Solar</a>
                    </div>
                    <!--  Content  -->
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClitock,</p>
                    <!--  Button  -->
                    <a class="button" href="#">Learn More</a>
                </div>
            </div>
            <!--  Single Project  -->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="single-project">
                    <!--  Image  -->
                    <img src="img/project/1.jpg" alt="">
                    <!--  Title  -->
                    <h4><a href="#">All the Lorem Ipsum Gener</a></h4>
                    <!--  Tags  -->
                    <div class="tags fix">
                        <a href="#">Energy</a>
                        <a href="#">Green</a>
                        <a href="#">Solar</a>
                    </div>
                    <!--  Content  -->
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClitock,</p>
                    <!--  Button  -->
                    <a class="button" href="#">Learn More</a>
                </div>
            </div>
            <!--  Single Project  -->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="single-project">
                    <!--  Image  -->
                    <img src="img/project/2.jpg" alt="">
                    <!--  Title  -->
                    <h4><a href="#">It is a long established fact</a></h4>
                    <!--  Tags  -->
                    <div class="tags fix">
                        <a href="#">Energy</a>
                        <a href="#">Green</a>
                        <a href="#">Solar</a>
                    </div>
                    <!--  Content  -->
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClitock,</p>
                    <!--  Button  -->
                    <a class="button" href="#">Learn More</a>
                </div>
            </div>
            <!--  Single Project  -->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="single-project">
                    <!--  Image  -->
                    <img src="img/project/3.jpg" alt="">
                    <!--  Title  -->
                    <h4><a href="#">All the Lorem Ipsum Gener</a></h4>
                    <!--  Tags  -->
                    <div class="tags fix">
                        <a href="#">Energy</a>
                        <a href="#">Green</a>
                        <a href="#">Solar</a>
                    </div>
                    <!--  Content  -->
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClitock,</p>
                    <!--  Button  -->
                    <a class="button" href="#">Learn More</a>
                </div>
            </div>
            <!--  Single Project  -->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="single-project">
                    <!--  Image  -->
                    <img src="img/project/1.jpg" alt="">
                    <!--  Title  -->
                    <h4><a href="#">All the Lorem Ipsum Gener</a></h4>
                    <!--  Tags  -->
                    <div class="tags fix">
                        <a href="#">Energy</a>
                        <a href="#">Green</a>
                        <a href="#">Solar</a>
                    </div>
                    <!--  Content  -->
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClitock,</p>
                    <!--  Button  -->
                    <a class="button" href="#">Learn More</a>
                </div>
            </div>
            <!--  Single Project  -->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="single-project">
                    <!--  Image  -->
                    <img src="img/project/2.jpg" alt="">
                    <!--  Title  -->
                    <h4><a href="#">It is a long established fact</a></h4>
                    <!--  Tags  -->
                    <div class="tags fix">
                        <a href="#">Energy</a>
                        <a href="#">Green</a>
                        <a href="#">Solar</a>
                    </div>
                    <!--  Content  -->
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClitock,</p>
                    <!--  Button  -->
                    <a class="button" href="#">Learn More</a>
                </div>
            </div>
            <!--  Single Project  -->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="single-project">
                    <!--  Image  -->
                    <img src="img/project/3.jpg" alt="">
                    <!--  Title  -->
                    <h4><a href="#">All the Lorem Ipsum Gener</a></h4>
                    <!--  Tags  -->
                    <div class="tags fix">
                        <a href="#">Energy</a>
                        <a href="#">Green</a>
                        <a href="#">Solar</a>
                    </div>
                    <!--  Content  -->
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClitock,</p>
                    <!--  Button  -->
                    <a class="button" href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>