html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
 #map {
        padding: 0;
        width: 100%;
        height: 100%;
        background-color:#f9f9f9;
    }

    .templatePicker {
        border: none;
    }

    .undisplay {
        display: none;
    }

    #tabAddDataContent {
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
        border-top: 1px solid #cdcdcd;
    }

    .dj_ie .infowindow .window .top .right .user .content {
        position: relative;
    }

    .dj_ie .simpleInfoWindow .content {
        position: relative;
    }

            .zoominIcon {
                background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_zoomin.png);
                width: 16px;
                height: 16px;
            }

            .zoomoutIcon {
                background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_zoomout.png);
                width: 16px;
                height: 16px;
            }

            .zoomfullextIcon {
                background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_fullextent.png);
                width: 16px;
                height: 16px;
            }

            .zoomprevIcon {
                background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_previous.png);
                width: 16px;
                height: 16px;
            }

            .zoomnextIcon {
                background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_next.png);
                width: 16px;
                height: 16px;
            }

            .panIcon {
                background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_pan.png);
                width: 16px;
                height: 16px;
            }

            .deactivateIcon {
                background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_decline.png);
                width: 16px;
                height: 16px;
            }