extends layout
block javascript
  script(src='javascripts/config.js')
  script(src='https://js.arcgis.com/4.5/')
  //- script(src='javascripts/ditagis/cattachthua.js')
  script.
    //- require(['/cattachthua.bundle.js'])
    require(['/javascripts/ditagis/cattachthua.js'])
block content
  #map
  