extends layout
block javascript
  script(src='javascripts/config.js')
  script(src='https://js.arcgis.com/4.4/')
  script.
    require(['/cattachthua.bundle.js'])
block content
  script.
    //hiển thị loader
    Loader.show();
  #map
  