extends layout
block javascript
  script(src='javascripts/config.js')
  script(src='https://js.arcgis.com/4.4/')
  //- script(src='javascripts/ditagis/congtacvien.js')
  script.
    require(['/congtacvien.bundle.js'])
block stylesheet
  style.
    .loading{
      width: 110px;
      position: absolute;
      padding: 10px;
      text-align: center;
      font-size: 1.1em;
      border: 1px solid #efefef;
      color: #555;
      top: 100px;
      left: calc(50% - 55px);
      z-index: 1000;
      background-color: #fff
    }
block content
  .loading(style='display:none') Đang tải...
  #map
  