@{
    ViewBag.Title = "Thông tin sâu bệnh";
    
}

<div id="project-area" class="project-area section pt-120 pb-90">
    <div class="container">
        <div class="row">
            <h1>Chưa có nội dung</h1>
        </div>
    </div>
</div>