<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
  <serverUrls>
    <serverUrl url="http://112.78.4.175:6080/arcgis/rest/"
                   matchAll="true"/>
    
    <serverUrl url="http://112.78.4.175:6080/arcgis/rest/info?f=json"
                matchAll="true"/>
    
    <serverUrl url="http://112.78.4.175:6080/arcgis/rest/services/Utilities/Geometry/GeometryServer"  
               matchAll="true"/>
    <serverUrl url="http://112.78.4.175:6080/arcgis/rest/services/Utilities/PrintingTools/GPServer/Export%20Web%20Map%20Task"  
               matchAll="true"/>

    
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/BaoVeThucVat_BDBaseMap/MapServer"  
               matchAll="true"/>
    
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/BaoVeThucVat_ChuyenDe/FeatureServer/0"  
               matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/BaoVeThucVat_ChuyenDe/FeatureServer/1"  
               matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/BaoVeThucVat_ChuyenDe/FeatureServer/2"  
               matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/BaoVeThucVat_ChuyenDe/FeatureServer/3"  
               matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/BaoVeThucVat_ChuyenDe/FeatureServer/4"  
               matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/BaoVeThucVat_ChuyenDe/FeatureServer/5"  
               matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/BaoVeThucVat_ChuyenDe/FeatureServer/6"  
               matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/BaoVeThucVat_ChuyenDe/FeatureServer/7"  
               matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/BaoVeThucVat_ChuyenDe/FeatureServer/8"  
               matchAll="true"/>
    
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
