html,
body,
#map {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* .blue-map .esri-widget{
  font-family: "Consolas","Andale Mono","Lucida Console","Monaco",monospace
} */
* {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.blue-map .esri-widget,
.blue-map .esri-widget-button,
.blue-map .esri-menu,
.blue-map .esri-popup__header,
.blue-map .esri-popup__feature-buttons,
.blue-map .esri-button {
  background-color: #6ab43e;
  color: #fff;
}
.blue-map .esri-popup__main-container{
  background-color: white;
  color: black;
}

.blue-map .esri-widget-button:focus,
.blue-map .esri-widget-button:hover,
.blue-map .esri-menu li:focus,
.blue-map .esri-menu li:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.blue-map .esri-button:focus,
.blue-map .esri-button:hover {
  color: #fff;
}

.esri-legend__service {
  background-color: white;
  color: #000;
}

.esri-popup--content-visible .esri-popup__content {
  margin: 0;
  background-color: #fff;
}

.esri-widget table tr td:first-child {
  font-weight: bold;
}

.esri-popup__button {
  color: #fff;
}

.dtg-tooltip-map {
  width: 100px;
  word-wrap: break-word;
  position: absolute;
  border: 1px solid #7EABCD;
  background-color: white;
  padding: 5px;
  font-size: 9pt;
  z-index: 9999;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.dtg-btn-widget {
  border: none;
  width: 98%;
  text-align: center;
  margin: 5px auto;
  padding: 9px 15px 9px 20px;
  color: #fff;
  background-color: #6ab43e;
}

.btn-popup-submit {
  background-color: #6ab43e;
  border: none;
  color: white;
  padding: 9px 5px;
  text-align: center;
  font-size: 16px;
  margin: 5px 5px 5px 5px;
  cursor: pointer;
  width: 98%;
}

.modal-header,
.modal-footer {
  background-color: #53A722;
  color: #fff;
}

.modal-body {
  background-color: #fff;
  max-height: calc(100vh - 200px);
  overflow: auto;
}

.esri-view-width-xsmall .esri-popup--is-docked-top-right .esri-popup__main-container {
  max-height: 80%;
}

.popup-content {
  margin: 5px;
}

.popup-content .attachment-item {
  font-weight: normal;
  margin-bottom: 0px;
  font-size: 14px;
  margin-top: 0px;
}

.popup-content .attachment-header {
  color: #000;
  font-weight: bold;
  margin-top: 10px;
  font-size: 15px;
  margin-bottom: 5px;
}

.popup-content .attachment-img {
  width: 50px;
  height: 50px;
}

.popup-content .attachment-name {
  display: inline-block;
  margin-left: 10px;
}

.popup-content .delete-attachment {
  display: inline-block;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  font-size: 16px;
}

.popup-content .view-attachment {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
}

#dtg-widget-logo {
  opacity: 1;
  background-color: transparent
}
.editor-history-widget{
 width: 230px;
}
.editor-history-widget .results-container {
  max-height: 420px;
  overflow: auto;
  background-color: #109d59;
  color: #000;
}

.editor-history-widget .results-container .list-group-item {
  padding: 10px 15px 1px 15px;
  border-radius: 0;
  border: none;
}

.editor-history-widget .results-container .list-group-item .row {
  border-bottom: 1px #ddd solid;
}

.editor-history-widget .results-container .col-1 {
  width: 40px;
  display: inline-block;
  text-align: center
}

.editor-history-widget .results-container .col-2 {
  width: 185px;
  display: inline-block;
}

.editor-history-widget .results-container .number {
  color: #6ab43e;
  font-size: 28px;
  font-family: "Roboto", sans-serif, "Helvetica Neue" !important;
  font-weight: 300 !important;
}

.editor-history-widget .results-container .list-group-item {
  padding: 10px 15px 1px 15px;
  border-radius: 0;
  border: none;
}

.editor-history-widget .results-container .list-group-item .row {
  border-bottom: 1px #ddd solid;
}
.google-geocoding-widget.input-group{
 max-width: calc(100vw - 80px);
}

.ditagis-widget-layer-editor {
  max-height: 550px;
  width: 300px;
  max-height: 420px;
  overflow: hidden;
  overflow-y: auto;
  transition: max-height 250ms ease-in-out;
}

.ditagis-widget-layer-editor ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.ditagis-widget-layer-editor .title {
  text-align: center;
  font-weight: bold;
  padding: 7px;
}
.ditagis-widget-layer-editor .list-item {
      display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  cursor: pointer;
}

.ditagis-widget-layer-editor .list-item .item-container {
 width: 100%;
  text-align: center;
  display: table-row;
  justify-content: flex-start;
  padding: 9px 15px 9px 20px;
  background-color: #fff;
  border-bottom: 1px solid rgba(50, 50, 50, 0.25);
  transition: padding 250ms ease-in-out 0ms;
}
.ditagis-widget-layer-editor .list-item .item-container .icon-label {
  color: black;
}

.ditagis-widget-layer-editor ul li div button {
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 1.3em;
  word-break: break-all;
  border: none;
  background-color: transparent
}



.ditagis-widget-user{
  max-height: 550px;
  width: 300px;
  max-height: 420px;
  overflow: hidden;
  overflow-y: auto;
  transition: max-height 250ms ease-in-out;
}
.ditagis-widget-user ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.ditagis-widget-user li.title{
  text-align: center;
  font-weight: bold;
  padding: 7px;
  text-transform: uppercase
}
.ditagis-widget-user li.item{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}
.ditagis-widget-user .container{
  width: 100%;
  text-align: center;
  display: table-row;
  justify-content: flex-start;
  padding: 9px 15px 9px 20px;
  background-color: #fff;
  border-bottom: 1px solid rgba(50, 50, 50, 0.25);
  transition: padding 250ms ease-in-out 0ms;
}
#pane-tools {
  position: absolute;
  left: 45px;
}
.pane-title {
  display: flex;
}
div.close-widget {
  background-color: #ff3448;
  float: right;
}

.close-item {
  height: 36px;
  width: 36px;
  line-height: 36px;
}
.close-item span {
  color: #fff;
  font-size: 15px;
  padding: 7px;
}

span.esri-icon-close {
  margin: 3px;
}
button.k-button.k-primary {
  background-color: #4285F4;
  color: #fff;
}

.btn-accept > button {
  width: 100%;
  text-align: center;
  border-radius: 4px;
}
.btn-accept {
  position: absolute;
  padding-bottom: 6px;
  bottom: 0;
  width: 93%;
}
.query-method-widget {
  padding: 10px;
  width: 300px;
  max-height: 414px;
  overflow: hidden;
  overflow-y: auto;
  background: white;
  color: #000;
}
.ditagis-widget-layer-editor ul {
  margin: 0;
  list-style: none;
  padding: 0;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
label {
  display: inline-block;
  width: 100%;
  margin-bottom: 2px;
  margin-top: 8px;
  font-weight: bold;
  font-size: 12px;
}
