<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
  <add name="BaoVeThucVatEntities" connectionString="metadata=res://*/BaoVeThucVat.csdl|res://*/BaoVeThucVat.ssdl|res://*/BaoVeThucVat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=112.78.4.175;initial catalog=BaoVeThucVat;persist security info=True;user id=sa;password=268@lTk;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
