#mainContainer {
    padding: 0;
    height: 600px;
}
#map{
    height:100%;
}
#templatePickerPane {
    overflow: hidden;
}

#panelHeader {
    background-color: #6ab43e;
    border-bottom: solid 1px #6ab43e;
    color: #FFF;
    font-size: 18px;
    margin: 0;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
}
.claro .dijitSplitContainer-child, .claro .dijitBorderContainer-child {
    border: 1px #b5bcc7 solid;
}
.esriEditor .templatePicker {
    padding-bottom: 5px;
    padding-top: 5px;
    height: 500px;
    border-radius: 0px 0px 4px 4px;
    border: solid 1px #92A661;
}

.dj_ie .infowindow .window .top .right .user .content,
.dj_ie .simpleInfoWindow .content {
    position: relative;
}

#LocateButton {
    position: absolute;
    top: 128px;
    left: 20px;
    z-index: 50;
}

#editorDiv {
    font-size: 14px;
}

.tab-search {
    border: #c5c3c3 1px solid;
}
.tap-map {
    border: #c5c3c3 1px solid;
   padding-top:10px;
}
#tabAddDataContent {
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    border-top: 1px solid #cdcdcd;
}

   #contentPane {
        padding: 0;
    }

    .map-control {
        position: absolute;
        z-index: 50;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #57585A;
        background-color: #FFF;
        color: #4C4C4C;
    }

    #map #tableControl {
        top: 90px;
        left: 20px;
    }

    .map-control .glyphicon {
        top: 5px;
    }

    .map-control button {
        background-color: transparent;
        border-color: transparent;
    }

.logo {
    bottom: 30px;
}

/*CSS at IndexMap*/
.nav-green {
    color: #6b6b6b;
    margin-bottom: 25px;
}

    .nav-green li {
        float: left;
        font-size: 14px;
        line-height: 30px;
        font-weight: 500;
    }

        .nav-green li.active a, .nav-green li.active a:hover {
            color: #6ab43e;
            background-color: white;
            border-bottom: 3px solid #6ab43e;
        }

        .nav-green li a {
            font-size: 14px;
            line-height: 30px;
            font-weight: 500;
            color: #6b6b6b;
            text-transform: uppercase;
            position: relative;
            padding: 12px 21px;
        }

        .nav-green li.active a {
            color: #6ab43e;
        }

        .nav-green li a:hover {
            color: #6ab43e;
            background-color: white;
            border-bottom: 3px solid #6ab43e;
        }

.tav-content {
    height: 385px;
    overflow-y: auto;
}

table {
    font-family: "Montserrat", sans-serif;
}

#result tr:hover {
    background-color: #6ab43e;
    color: white;
    cursor: pointer;
}

.resultFormSearch {
    height: 186px;
    overflow-y: auto;
}

resultFormSearch table tr th:first-child {
    width: 10px;
}

.formSearch input, .formSearch select {
    width: 100%;
    border: 1px solid #e9e9e9;
    height: 40px;
    padding: 7px 16px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 5px;
}
