
#map{
    padding: 0;
    margin: 0;
    height: 600px;
    width: 100%;
}

#tabAddDataContent {
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    border-top: 1px solid #cdcdcd;
}



.logo {
    bottom: 30px;
}

/*CSS at IndexMap*/
.nav-green {
    color: #6b6b6b;
    margin-bottom: 25px;
}

    .nav-green li {
        float: left;
        font-size: 14px;
        line-height: 30px;
        font-weight: 500;
    }

        .nav-green li.active a, .nav-green li.active a:hover {
            color: #6ab43e;
            background-color: white;
            border-bottom: 3px solid #6ab43e;
        }

        .nav-green li a {
            font-size: 14px;
            line-height: 30px;
            font-weight: 500;
            color: #6b6b6b;
            text-transform: uppercase;
            position: relative;
            padding: 12px 21px;
        }

        .nav-green li.active a {
            color: #6ab43e;
        }

        .nav-green li a:hover {
            color: #6ab43e;
            background-color: white;
            border-bottom: 3px solid #6ab43e;
        }

.tav-content {
    height: 385px;
    overflow-y: auto;
}

table {
    font-family: "Montserrat", sans-serif;
}

#result tr:hover {
    background-color: #6ab43e;
    color: white;
    cursor: pointer;
}

.resultFormSearch {
    height: 186px;
    overflow-y: auto;
}

resultFormSearch table tr th:first-child {
    width: 10px;
}

/*
    Feature Layer Editor
*/

.edit-button:hover,
.edit-button:focus {
    background-color: #e4e4e4;
}

.inputInfo {
    font-size: 12px;
    height: 32px;
    margin-bottom: 6px;
    padding: 0 6px;
    width: 100%;
}

.list-heading {
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #323232;
}

.edit-button {
    font-size: 14px;
    height: 32px;
    margin-top: 10px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #0079c1;
    color: #0079c1;
}

.or-wrap {
    background-color: #e0e0e0;
    height: 1px;
    margin: 2em 0;
    overflow: visible;
}

.or-text {
    background: #fff;
    line-height: 0;
    padding: 0 1em;
    position: relative;
    top: -.75em;
}

.widget-container {
    background: #fff;
    font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    overflow: auto;
    padding: 12px 15px;
    width: 500px;
}
 .editArea-container {
            background: #fff;
            font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 1.5em;
            overflow: auto;
            padding: 12px 15px;
            width: 300px;
        }


 input,select {
    width: 100%;
    border: 1px solid #e9e9e9;
    height: 40px;
    padding: 7px 16px;
    line-height: 24px;
    color: #000;
    font-weight: 300;
    margin-bottom:5px;
}
 input[type="button"] {
    width: auto;
    padding: 8px 40px;
    background-color: #6ab43e;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
}

 /*EsriWidget Font*/
 .esri-widget{
     font-family:"Montserrat", sans-serif;
 }