<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <li>
            @Html.ActionLink("Trang Chủ", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Doanh Nghiệp", "Index", "DoanhNghiep")
        </li>
        <li>
            @Html.ActionLink("Sâu bệnh", "Index", "SauBenh")
        </li>
        <li>
            @Html.ActionLink("Trồng trọt", "Index", "TrongTrot")
        </li>
    </ul>
</div><!--/.sidebar-->