@{
    ViewBag.Title = " Chi cục Trồng trọt và Bảo vệ thực vật tỉnh Bình Dương ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var dojoConfig = {
        async: true
    };
</script>
<link rel="stylesheet" href="https://js.arcgis.com/3.19/dijit/themes/claro/claro.css">
<link rel="stylesheet" href="https://js.arcgis.com/3.19/esri/css/esri.css">
<link href="~/bootstrap-map-js/src/css/bootstrapmap.css" rel="stylesheet" />
<style>
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }

    #map {
        padding: 0;
        width: 100%;
        height: 100%;
        background-color:#f9f9f9;
    }

    .templatePicker {
        border: none;
    }

    .undisplay {
        display: none;
    }

    #tabAddDataContent {
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
        border-top: 1px solid #cdcdcd;
    }

    .dj_ie .infowindow .window .top .right .user .content {
        position: relative;
    }

    .dj_ie .simpleInfoWindow .content {
        position: relative;
    }

            .zoominIcon {
                background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_zoomin.png);
                width: 16px;
                height: 16px;
            }

            .zoomoutIcon {
                background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_zoomout.png);
                width: 16px;
                height: 16px;
            }

            .zoomfullextIcon {
                background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_fullextent.png);
                width: 16px;
                height: 16px;
            }

            .zoomprevIcon {
                background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_previous.png);
                width: 16px;
                height: 16px;
            }

            .zoomnextIcon {
                background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_next.png);
                width: 16px;
                height: 16px;
            }

            .panIcon {
                background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_pan.png);
                width: 16px;
                height: 16px;
            }

            .deactivateIcon {
                background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_decline.png);
                width: 16px;
                height: 16px;
            }

</style>

<div class="col-md-4 col-lg-3 undisplay" id="tabSearchControl" style="">
    <h4 style="color: #2e7c0c;">Tìm kiếm thông tin <span class="label label-danger pull-right" id="closeTabSearchControl" style="font-size: 0.6em; padding: 6px 10px; cursor: pointer;">Đóng</span></h4>
    <ul class="nav nav-tabs nav-pills nav-justified responsive" id="myTab">
        <li class="test-class active"><a class="deco-none red-class" href="#resp-tab1">Doanh nghiệp</a></li>
        <li class="test-class"><a href="#resp-tab2">Trạm kiểm dịch</a></li>
        <li><a class="deco-none" href="#resp-tab3">Sử dụng đất trồng</a></li>
    </ul>

    <div class="tab-content responsive">
        <div class="tab-pane active" id="resp-tab1">
            <h5>Tìm thông tin Doanh nghiệp</h5>
            <div class="formSearch">
                <input type="text" id="txtMaDN" class="form-control" placeholder="Mã doanh nghiệp" />
                <input type="text" id="txtTen" class="form-control" placeholder="Tên doanh nghiệp" />
                <input type="text" id="txtLoaiHinhKD" class="form-control" placeholder="Loại hình kinh doanh" />
                <button type="button" class="btn btn-default" id="btDoanhNghiep">Tìm kiếm</button>
                <button type="button" class="btn btn-default" id="btDoanhNghiep_Excel">Xuất Excel</button>
                <img src="~/Content/img/default.gif" class="loading" style="display: none;" />
            </div>
            <div class="resultFormSearch">
                <table data-toggle="table" class="table" data-row-style="rowStyle">
                    <thead>
                        <tr>
                            <th >Tên doanh nghiệp <span class="label label-danger pull-right" id="countresultFormSearchDoanhNghiep">0</span></th>
                        </tr>
                    </thead>
                    <tbody id="resultFormSearchDoanhNghiep">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="resp-tab2">
            
            <h5>Tìm thông tin Trạm kiểm dịch</h5>
            <div class="formSearch">
                <input type="text" id="txtMaVung" class="form-control" placeholder="Mã vùng" />
                <input type="text" id="txtNoiKiemDich" class="form-control" placeholder="Nơi kiểm dịch" />
                <input type="text" id="txtMaLoaiSinhVatGayHai" class="form-control" placeholder="Loại sinh vật gây hại" />
                <button type="button" class="btn btn-default" id="btSearchTramKiemDich">Tìm kiếm</button>
                <button type="button" class="btn btn-default" id="btSearchTramKiemDich_Excel">Xuất Excel</button>
                <img src="~/Content/img/default.gif" class="loading" style="display: none;" />
            </div>
            <div class="resultFormSearch">
                <table data-toggle="table" class="table" data-row-style="rowStyle">
                    <thead>
                        <tr>
                            <th >Nơi kiểm dịch  <span class="label label-danger  pull-right" id="countresultFormSearchTramKiemDich">0</span></th>
                        </tr>
                    </thead>
                    <tbody id="resultFormSearchTramKiemDich">
                    </tbody>
                </table>
            </div>

        </div>
        <div class="tab-pane" id="resp-tab3">
             
            <h5>Tìm thông tin Sử dụng đất trồng</h5>
            <div class="formSearch">
                <input type="text" id="txtMaLoaiDat" class="form-control" placeholder="Mã loại đất" />
                <input type="text" id="txtTenDat" class="form-control" placeholder="Tên loại đất" />
                <input type="text" id="txtTinhTrang" class="form-control" placeholder="Tình trạng" />
                <button type="button" class="btn btn-default" id="btSearchSDD">Tìm kiếm</button>
                <button type="button" class="btn btn-default" id="btSearchSDD_Excel">Xuất Excel</button>
                <img src="~/Content/img/default.gif" class="loading" style="display: none;" />
            </div>
            <div class="resultFormSearch">
                <table data-toggle="table" class="table" data-row-style="rowStyle">
                    <thead>
                        <tr>
                            <th >Tên loại đất  <span class="label label-danger pull-right" id="countresultFormSearchSDD">0</span></th>
                        </tr>
                    </thead>
                    <tbody id="resultFormSearchSDD">
                    </tbody>
                </table>
            </div>

        </div>
    </div>


</div>

<div class="col-md-4 col-lg-3" id="tabAddDataControl">
    <h4 style="color: #2e7c0c;">Thêm mới dữ liệu <span class="label label-danger pull-right" id="closeTabAddDataControl" style="font-size: 0.6em; padding: 6px 10px; cursor: pointer;">Đóng</span></h4>
    <div id="tabAddDataContent">
        <div id="templateDiv"></div>
        <div id="editorDiv"></div>
    </div>
</div>

<div class="col-md-8 col-lg-9" id="tabMapControl">
    <div id="map">
        <div id="homeDiv"></div>        

        <div id="navToolbar" data-dojo-type="dijit/Toolbar">
            <div data-dojo-type="dijit/form/Button" id="zoomin" data-dojo-props="iconClass:'zoominIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="zoomout" data-dojo-props="iconClass:'zoomoutIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="zoomfullext" data-dojo-props="iconClass:'zoomfullextIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="zoomprev" data-dojo-props="iconClass:'zoomprevIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="zoomnext" data-dojo-props="iconClass:'zoomnextIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="pan" data-dojo-props="iconClass:'panIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="deactivate" data-dojo-props="iconClass:'deactivateIcon'"></div>
            @* <span>
            <input id="textMapLink" type="text" style="width:300px;" placeholder="Nhập đường dẫn tài liệu bản đồ" value="" />
                        <button id="addMapLink">Thêm tài liệu bản đồ</button>
                    </span>*@
        </div>
    </div>
</div>


<script src="~/Content/bootstrap/js/jquery1_9.min.js"></script>
<script type="text/javascript">

    $('ul.nav.nav-tabs  a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

</script>

<script>

    $(document).ready(function () {
        var height = $(window).height();
        height = height - 150;
        $("#map").css("height", height + "px");
        $("#tabAddDataContent").css("height", (height - 40) + "px");
    });

</script>

<script type="text/javascript">
    var package_path = window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/'));
    var dojoConfig = {
        packages: [{
            name: "application",
            location: package_path + '/bootstrap-map-js/src/js'
        }]
    };
</script>
<script src="https://js.arcgis.com/3.19/"></script>
<script src="~/Scripts/map.js"></script>
