
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Bản đồ bảo vệ thực vật Bình Dương</title>
    <style>
        html, body, #viewDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://js.arcgis.com/4.3/esri/css/main.css">
    <script src="https://js.arcgis.com/4.3/"></script>
    <script>
        var mapconfigs = {
            basemapUrl: "http://112.78.4.175:6080/arcgis/rest/services/Basemap_BaoVeThucVat/MapServer",
            doanhNghiepUrl: "http://112.78.4.175:6080/arcgis/rest/services/BaoVeThucVat_ChuyenDe/FeatureServer/0",
            sauBenhUrl: "http://112.78.4.175:6080/arcgis/rest/services/BaoVeThucVat_ChuyenDe/FeatureServer/1",
            trongTrotUrl: "http://112.78.4.175:6080/arcgis/rest/services/BaoVeThucVat_ChuyenDe/FeatureServer/2"
        };
        require([
          "esri/Map",
          "esri/views/MapView",
          "esri/layers/MapImageLayer",
          "esri/layers/FeatureLayer",
          "esri/Graphic",
          "esri/widgets/Home", "esri/widgets/Locate",
          "dojo/domReady!"
        ], function (Map, MapView, MapImageLayer, FeatureLayer, Graphic, Home, Locate) {
            var map = new Map({
                basemap: "dark-gray"
            });
            var view = new MapView({
                container: "viewDiv",  // Reference to the scene div created in step 5
                map: map,
                zoom: 10,  // Sets the zoom level based on level of detail (LOD)
                center: [106.688166, 11.172618]
            });
            var baseMap = new MapImageLayer({
                url: mapconfigs.basemapUrl,
                title: "Dữ liệu nền Bình Dương"
            });
            map.add(baseMap);
            initFeatureLayers();

            initWidgets();

            function initFeatureLayers() {
                var doanhNghiepLayer = new FeatureLayer(mapconfigs.doanhNghiepUrl, {
                    mode: FeatureLayer.MODE_ONDEMAND,
                    outFields: ["*"],
                    title: "Doanh nghiệp",
                    popupTemplate: {
                        title: "{NguoiDaiDienDoanhNghiep}",
                        content: "<table>" +
                            "<tr><td>Tên: </td><td>{NguoiDaiDienDoanhNghiep}</td></tr>" +
                            "<tr><td>Địa chỉ: </td><td>{SoNha}</td></tr>" +
                            "<tr><td>Website: </td><td>{Website}</td></tr>" +
                            "<tr><td>Email: </td><td>{Email}</td></tr>" +
                            "<tr><td>Danh mục sản phẩm: </td><td>{DanhMucSanPham}</td></tr>" +
                            "</table>"
                    }
                }),
                sauBenhLayer = new FeatureLayer(mapconfigs.sauBenhUrl, {
                    mode: FeatureLayer.MODE_ONDEMAND,
                    outFields: ["*"],
                    title: "Sâu bệnh",
                    popupTemplate: {
                        title: "{TenSauBenhGayHai}",
                        content: "<table>" +
                            "<tr><td>Nhóm cây trồng: </td><td>{NhomCayTrong}</td></tr>" +
                            "<tr><td>Loại cây trồng: {LoaiCayTrong}</td></tr>" +
                            "<tr><td>Tên sâu bệnh gây hại: </td><td>{TenSauBenhGayHai}</td></tr>" +
                            "<tr><td>Mật độ sâu bệnh gây hại: </td><td>{MatDoSauBenhGayHai}</td></tr>" +
                            "<tr><td>Phạm vi ảnh ưởng: </td><td>{PhamViAnhHuong}</td></tr>" +
                            "<tr><td>Mức độ ảnh hưởng: </td><td>{MucDoAnhHuong}</td></tr>" +
                            "<tr><td>Thời gian gây hại: </td><td>{ThoiGianGayHai}</td></tr>" +
                            "<tr><td>Cấp độ gây hại: </td><td>{CapDoGayHai}</td></tr>" +
                            "<tr><td>Tình hình kiểm soát dịch: </td><td>{TinhHinhKiemSoatDichBenh}</td></tr>" +
                            "<tr><td>Mức độ kiểm soát: </td><td>{MucDoKiemSoat}</td></tr>" +
                            "<tr><td>Biện pháp xử lý: </td><td>{BienPhapXuLy}</td></tr>" +
                            "<tr><td>Diện tích: </td><td>{DienTich}</td></tr>" +
                            "<tr><td>Huyện/TP: </td><td>{MaHuyenTP}</td></tr>" +
                            "<tr><td>Giai đoạn sinh trưởng: </td><td>{GiaiDoanSinhTruong}</td></tr>" +
                            "</table>"
                    }
                }),
                trongTrotLayer = new FeatureLayer(mapconfigs.trongTrotUrl, {
                    mode: FeatureLayer.MODE_ONDEMAND,
                    outFields: ["*"],
                    title: "Trồng trọt",
                    popupTemplate: {
                        title: "{TenGiongCayTrong}",
                        content: "<table>" +
                            "<tr><td>Nhóm cây trồng: </td><td>{NhomCayTrong}</td></tr>" +
                            "<tr><td>Loại cây trồng: {LoaiCayTrong}</td></tr>" +
                            "<tr><td>Diện tích trồng: </td><td>{DienTichTrong}</td></tr>" +
                            "<tr><td>Tình hình ứng dụng công nghệ: </td><td>{TinhHinhUngDungCongNghe}</td></tr>" +
                            "<tr><td>Tổ chức cá nhân quản lý: </td><td>{ToChucCaNhanQuanLy}</td></tr>" +
                            "<tr><td>Tình trạng thu hoạch: </td><td>{TinhTrangThuHoach}</td></tr>" +
                            "<tr><td>Phương thức trồng: </td><td>{PhuongThucTrong}</td></tr>" +
                            "<tr><td>Thời vụ trồng: </td><td>{ThoiVuTrongTrot}</td></tr>" +
                            "<tr><td>Giai đoạn sinh trưởng: </td><td>{GiaiDoanSinhTruong}</td></tr>" +
                            "<tr><td>Ghi chú: </td><td>{GhiChu}</td></tr>" +
                            "</table>"
                    }
                });
                //map.add(sauBenhLayer);
                map.addMany([trongTrotLayer, sauBenhLayer, doanhNghiepLayer]);
            }

            //// --------------------------------- Widget ---------------------------------///
            function initWidgets() {
                // Add the Home widget to the top left corner of the view
                view.ui.add(new Home({
                    view: view
                }), //Add Home Widget to top-left of the view
                {
                    position: "top-left"
                });

                // Add the locate widget to the top left corner of the view
                var locateWidget = new Locate({
                    view: view
                });

                //locateWidget.locate().then(function () {
                //    console.log('ahihi');
                //});
                locateWidget.on('locate', function (position) {
                    let gp = new Graphic({
                        geometry: {
                            x: position.x,
                            y: position.y
                        },
                        attributes: { SauBenhGayHai: 1 }
                    })
                    sauBenhLayer.applyEdits({
                        addFeatures: [gp]
                    }).then(function () {
                        alert('Thêm thành công.');
                    }, function () {
                        alert('Có lỗi xảy ra, xin vui lòng kiểm tra lại.');
                    });
                });
                view.ui.add(locateWidget, {
                    position: "top-left"
                });



            }

        });
    </script>
</head>
<body>
    <div id="viewDiv">
    </div>
</body>
</html>