@{
    ViewBag.Title = "Bản đồ";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
<link href="~/Content/map.css" rel="stylesheet" />
<link rel="stylesheet" href="https://js.arcgis.com/4.3/esri/css/main.css">
<script src="https://js.arcgis.com/4.3/"></script>
@Scripts.Render("~/bundles/map")

<section id="map-area" class="pb-100">
    <div class="col-md-4 col-lg-3">
        <ul class="nav nav-green">
            <li class="active"><a data-toggle="pill" href="#home">Tìm kiếm</a></li>
            <li><a data-toggle="pill" href="#menu1">Chỉnh sửa</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h4>Tìm kiếm thông tin</h4>
                <ul class="nav nav-tabs nav-green nav-justified responsive" id="myTab">
                    <li class="active"><a data-toggle="pill" href="#tab-doanhnghiep">Doanh nghiệp</a></li>
                    <li><a id="a-tab-saubenh" data-toggle="pill" href="#tab-saubenh">Sâu bệnh</a></li>
                    <li><a id="a-tab-trongtrot" data-toggle="pill" href="#tab-trongtrot">Trồng trọt</a></li>
                </ul>

                <div class="tab-content responsive">
                    <div class="tab-pane active" id="tab-doanhnghiep">
                        <h5>Tìm thông tin Doanh nghiệp</h5>
                        <div class="formSearch">
                            <input type="text" id="txtMaDN" class="form-control" placeholder="Mã doanh nghiệp" />
                            <input type="text" id="txtTen" class="form-control" placeholder="Tên doanh nghiệp" />
                            <input type="text" id="txtQuanHuyen" class="form-control" placeholder="Quận/Huyện" />
                            <button type="button" class="btn btn-default" id="btnFind">Tìm kiếm</button>
                            <button type="button" class="btn btn-default" id="btnExcel">Xuất Excel</button>
                            <img src="~/Content/img/default.gif" class="loading" style="display: none;" />
                        </div>
                        <div class="resultFormSearch">
                            <table data-toggle="table" class="table" data-row-style="rowStyle">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên doanh nghiệp <span class="label label-danger pull-right" id="counter">0</span></th>
                                    </tr>
                                </thead>
                                
                                <tbody id="result">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-saubenh">

                        <h5>Tìm thông tin Sâu bệnh</h5>
                        <div class="formSearch">
                            <select class="form-control" id="cbNhomCayTrong">
                                <option value="" selected>Nhóm cây trồng</option>
                            </select>
                            <select class="form-control" id="cbLoaiCayTrong">
                                <option value="" selected>Loại cây trồng</option>
                            </select>
                            <select class="form-control" id="cbCapDoGayHai">
                                <option value="" selected>Cấp độ gây hại</option>
                            </select>
                            <input type="number" id="nbPhamViAnhHuong" class="form-control" placeholder="Phạm vi ảnh hưởng" />
                            <input type="number" id="nbDienTich" class="form-control" placeholder="Diện tích" />
                            <button type="button" class="btn btn-default" id="btnFind">Tìm kiếm</button>
                            <button type="button" class="btn btn-default" id="btnExcel">Xuất Excel</button>
                            <img src="~/Content/img/default.gif" class="loading" style="display: none;" />
                        </div>
                        <div class="resultFormSearch">
                            <table data-toggle="table" class="table" data-row-style="rowStyle">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên sâu bệnh  <span class="label label-danger  pull-right" id="counter">0</span></th>
                                    </tr>
                                </thead>
                                <tbody id="result"></tbody>
                            </table>
                        </div>

                    </div>
                    <div class="tab-pane" id="tab-trongtrot">

                        <h5>Tìm thông tin Cây trồng</h5>
                        <div class="formSearch">
                            <select class="form-control" id="cbNhomCayTrong">
                                <option value="" selected>Nhóm cây trồng</option>
                            </select>
                            <select class="form-control" id="cbLoaiCayTrong">
                                <option value="" selected>Loại cây trồng</option>
                            </select>
                            <select class="form-control" id="cbPhuongThucTrong">
                                <option value="" selected>Phương thức trồng</option>
                            </select>
                            <input type="number" id="nbDienTich" class="form-control" placeholder="Diện tích" />
                            <button type="button" class="btn btn-default" id="btnFind">Tìm kiếm</button>
                            <button type="button" class="btn btn-default" id="btnExcel">Xuất Excel</button>
                            <img src="~/Content/img/default.gif" class="loading" style="display: none;" />
                        </div>
                        <div class="resultFormSearch">
                            <table data-toggle="table" class="table" data-row-style="rowStyle">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên sâu bệnh  <span class="label label-danger  pull-right" id="counter">0</span></th>
                                    </tr>
                                </thead>
                                <tbody id="result"></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h4>Thêm mới dữ liệu</h4>
                <div id="tabAddDataContent">
                    <div id="templateDiv"></div>
                    <div id="editorDiv"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-lg-9" id="tabMapControl">
        <div id="map">
        </div>
    </div>


    <script type="text/javascript">

        $('ul.nav.nav-tabs  a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

    </script>
</section>