@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<div class="jumbotron">
    <h1>Chi cục Bảo vệ thực vật tỉnh Bình Dương</h1>
    <p class="lead">Xây dựng bởi trung tâm công nghệ thông tin địa lý DITAGIS thuộc Đại học BK Hồ Chí Minh.</p>
    <p><a href="http://ditagis.hcmut.edu.vn" class="btn btn-primary btn-lg">Liên hệ DITAGIS</a></p>
</div>
