@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<!--Learder-->
<section id="leader-container" class="leader-container pt-120 pb-70">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="section-title white text-center col-xs-12 mb-80">
                <h2>BAN LÃNH ĐẠO</h2>
            </div>
        </div>
        <div class="row">
            <!-- Single Volunteer -->
            <div class="single-leader col-md-3 col-sm-6 col-xs-12 mb-50">
                <div class="image"><img src="~/Content/img/Image-not-found.gif" alt=""></div>
                <div class="content fix">
                    <h4>Nguyễn Minh Tâm</h4>
                    <span>Phó chi cục trưởng</span>
                    <p>Email: nguyentambvtv@gmail.com </p>
                    <p>Điện thoại CQ: 0650.3 832803  </p>
                    <p>Điện thoại DĐ: 0913140645</p>
                </div>
            </div>
            <!-- Single Volunteer -->
            <div class="single-leader col-md-3 col-sm-6 col-xs-12 mb-50">
                <div class="image"><img src="~/Content/img/Image-not-found.gif" alt=""></div>
                <div class="content fix">
                    <h4>Nguyễn Phong Huy</h4>
                    <span>Phó chi cục trưởng</span>
                    <p>Email: huyphong184@gmail.com</p>
                    <p>Điện thoại CQ: 0650.3811680</p>
                    <p> Điện thoại DĐ: 0918597184</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="funfact-area" class="funfact-area pt-120 pb-100">
    <div class="container">
        <div class="row">
            <div class="section-title col-xs-12 mb-80">
                <h2>CHỨC NĂNG, NHIỆM VỤ</h2>
                <p>1. Chức năng Chi cục có chức năng tham mưu, giúp Giám đốc Sở Nông nghiệp và Phát triển nông thôn quản lý nhà nước chuyên ngành và thực thi nhiệm vụ quản lý nhà nước trong các lĩnh vực: trồng trọt, bảo vệ thực vật, kiểm dịch thực vật và quản lý thuốc bảo vệ thực vật trên địa bàn tỉnh.</p>
                <p>2. Nhiệm vụ </p>

                <p>Tổ chức thực hiện tuyên truyền, phổ biến giáo dục chính sách pháp luật; bồi dưỡng chuyên môn, nghiệp vụ cho các tổ chức, cá nhân hoạt động có liên quan đến các lĩnh vực: trồng trọt, bảo vệ thực vật, kiểm dịch thực vật, thuốc bảo vệ thực vật</p>
                <p>Tham mưu giúp Giám đốc Sở Nông nghiệp và Phát triển nông thôn ban hành các văn bản quản lý nhà nước thuộc các lĩnh vực: trồng trọt, bảo vệ thực vật, kiểm dịch thực vật, thuốc bảo vệ thực vật trên cơ sở những văn bản quy định của nhà nước</p>
                <p>Xây dựng, tổ chức thực hiện kế hoạch dài hạn, trung hạn, hàng năm thuộc các lĩnh vực: trồng trọt, bảo vệ thực vật, kiểm dịch thực vật thuốc bảo vệ thực vật</p>
                <p>Đầu mối theo dõi, thống kê, tổng hợp báo cáo Sở Nông nghiệp và Phát triển nông thôn về tình hình sản xuất nông nghiệp, bảo vệ thực vật, kiểm dịch thực vật, thuốc bảo vệ thực vật và vật tư nông nghiệp phục vụ trồng trọt trên địa bàn tỉnh</p>
                <p>Phối hợp, hướng dẫn thực hiện và kiểm tra việc thống kê tình hình diễn biến đất nông nghiệp trên địa bàn tỉnh và giúp Ủy ban nhân dân xã, phường, thị trấn tổ chức thực hiện các hoạt động cung cấp dịch vụ công về phát triển sản xuất nông nghiệp</p>
                <p>Phối hợp, hướng dẫn, kiểm tra việc thực hiện các quy định quản lý nhà nước về giống cây trồng, phân bón, thuốc bảo vệ thực vật, các chế phẩm sinh học dùng trong trồng trọt và các vật tư khác phục vụ sản xuất nông nghiệp theo quy định của pháp luật</p>
                <p>Thực hiện chế độ thông tin, báo cáo định kỳ và đột xuất về tình hình bảo vệ thực vật, kiểm dịch thực vật, thuốc bảo vệ thực vật, sản xuất nông nghiệp thuộc lĩnh vực trồng trọt và các hoạt động khác có pên quan trên địa bàn tỉnh theo quy định</p>
                <p> Xây dựng hệ thống thông tin cơ sở dữ liệu về bảo vệ thực vật, kiểm dịch thực vật, thuốc bảo vệ thực vật, trồng trọt và diễn biến đất nông nghiệp thuộc lĩnh vực trồng trọt để phục vụ cho công tác quản lý được giao</p>
                <p> Quản lý và chịu trách nhiệm về kinh phí hoạt động, tài sản nhà nước giao cho đơn vị. Tổ chức quản lý việc thu phí, lệ phí và sử dụng phí theo quy định của pháp luật</p>
                <p>Xây dựng quy hoạch, quản lý, bố trí, sử dụng, đào tạo, bồi dưỡng công chức, viên chức và người lao động hợp đồng theo quy định của pháp luật và phân cấp của Ủy ban nhân dân tỉnh</p>
                <p>Thực hiện cải cách hành chính như cải cách thể chế, cải cách thủ tục hành chính, cải cách bộ máy tổ chức, xây dựng và nâng cao chất lượng đội ngũ cán bộ, công chức, viên chức, cải cách tài chính công, hiện đại hóa nền hành chính, ứng dụng công nghệ thông tin phục vụ công tác Bảo vệ thực vật</p>
                <p>Thực hiện Chương trình quốc gia về bảo vệ thực vật, kiểm dịch thực vật, thuốc bảo vệ thực vật, trồng trọt và các hoạt động hợp tác quốc tế về lĩnh vực chuyên ngành được phân công theo quy định của Nhà nước</p>
                <p>Thực hiện nhiệm vụ khác do Cục Trồng trọt, Cục Bảo vệ thực vật và Sở Nông nghiệp và Phát triển nông thôn phân công</p>
            </div>
        </div>
    </div>
</section>