@{
    ViewBag.Title = " Chi cục Trồng trọt và Bảo vệ thực vật tỉnh Bình Dương ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Module Map*@
<script>
    var dojoConfig = {
        async: true
    };
</script>
<link rel="stylesheet" href="https://js.arcgis.com/3.19/dijit/themes/claro/claro.css">
<link rel="stylesheet" href="https://js.arcgis.com/3.19/esri/css/esri.css">
<link href="~/Content/map.css" rel="stylesheet" />

<div class="col-md-4 col-lg-3 undisplay" id="tabSearchControl" style="">
    <h4 style="color: #2e7c0c;">Tìm kiếm thông tin <span class="label label-danger pull-right" id="closeTabSearchControl" style="font-size: 0.6em; padding: 6px 10px; cursor: pointer;">Đóng</span></h4>
    <ul class="nav nav-tabs nav-pills nav-justified responsive" id="myTab">
        <li class="test-class active"><a class="deco-none red-class" href="#tab-doanhnghiep">Doanh nghiệp</a></li>
        <li class="test-class"><a href="#tab-saubenh">Sâu bệnh</a></li>
        <li><a class="deco-none" href="#tab-trongtrot">Trồng trọt</a></li>
    </ul>

    <div class="tab-content responsive">
        <div class="tab-pane active" id="tab-doanhnghiep">
            <h5>Tìm thông tin Doanh nghiệp</h5>
            <div class="formSearch">
                <input type="text" id="txtMaDN" class="form-control" placeholder="Mã doanh nghiệp" />
                <input type="text" id="txtTen" class="form-control" placeholder="Tên doanh nghiệp" />
                <input type="text" id="txtQuanHuyen" class="form-control" placeholder="Quận/Huyện" />
                <button type="button" class="btn btn-default" id="btnFind">Tìm kiếm</button>
                <button type="button" class="btn btn-default" id="btnExcel">Xuất Excel</button>
                <img src="~/Content/img/default.gif" class="loading" style="display: none;" />
            </div>
            <div class="resultFormSearch">
                <table data-toggle="table" class="table" data-row-style="rowStyle">
                    <thead>
                        <tr>
                            <th >Tên doanh nghiệp <span class="label label-danger pull-right" id="counter">0</span></th>
                        </tr>
                    </thead>
                    <tbody id="result">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="tab-saubenh">
            
            <h5>Tìm thông tin Sâu bệnh</h5>
            <div class="formSearch">
                <select  class="form-control" id="cbNhomCayTrong">
                    <option value="" selected>Nhóm cây trồng</option>
                </select>
                <select class="form-control" id="cbLoaiCayTrong">
                    <option value="" selected>Loại cây trồng</option>
                </select>
                <select class="form-control" id="cbCapDoGayHai">
                    <option value="" selected>Cấp độ gây hại</option>
                </select>
                <input type="number" id="nbPhamViAnhHuong" class="form-control" placeholder="Phạm vi ảnh hưởng" />
                <input type="number" id="nbDienTich" class="form-control" placeholder="Diện tích" />
                <button type="button" class="btn btn-default" id="btnFind">Tìm kiếm</button>
                <button type="button" class="btn btn-default" id="btnExcel">Xuất Excel</button>
                <img src="~/Content/img/default.gif" class="loading" style="display: none;" />
            </div>
            <div class="resultFormSearch">
                <table data-toggle="table" class="table" data-row-style="rowStyle">
                    <thead>
                        <tr>
                            <th >Tên sâu bệnh  <span class="label label-danger  pull-right" id="counter">0</span></th>
                        </tr>
                    </thead>
                    <tbody id="result">
                    </tbody>
                </table>
            </div>

        </div>
        <div class="tab-pane" id="tab-trongtrot">

            <h5>Tìm thông tin Cây trồng</h5>
            <div class="formSearch">
                <select class="form-control" id="cbNhomCayTrong">
                    <option value="" selected>Nhóm cây trồng</option>
                </select>
                <select class="form-control" id="cbLoaiCayTrong">
                    <option value="" selected>Loại cây trồng</option>
                </select>
                <select class="form-control" id="cbPhuongThucTrong">
                    <option value="" selected>Phương thức trồng</option>
                </select>
                <input type="number" id="nbDienTich" class="form-control" placeholder="Diện tích" />
                <button type="button" class="btn btn-default" id="btnFind">Tìm kiếm</button>
                <button type="button" class="btn btn-default" id="btnExcel">Xuất Excel</button>
                <img src="~/Content/img/default.gif" class="loading" style="display: none;" />
            </div>
            <div class="resultFormSearch">
                <table data-toggle="table" class="table" data-row-style="rowStyle">
                    <thead>
                        <tr>
                            <th>Tên sâu bệnh  <span class="label label-danger  pull-right" id="counter">0</span></th>
                        </tr>
                    </thead>
                    <tbody id="result"></tbody>
                </table>
            </div>

        </div>
    </div>


</div>

<div class="col-md-4 col-lg-3" id="tabAddDataControl">
    <h4 style="color: #2e7c0c;">Thêm mới dữ liệu <span class="label label-danger pull-right" id="closeTabAddDataControl" style="font-size: 0.6em; padding: 6px 10px; cursor: pointer;">Đóng</span></h4>
    <div id="tabAddDataContent">
        <div id="templateDiv"></div>
        <div id="editorDiv"></div>
    </div>
</div>

<div class="col-md-8 col-lg-9" id="tabMapControl">
    <div id="map">
        <div id="homeDiv"></div>        

        <div id="navToolbar" data-dojo-type="dijit/Toolbar">
            <div data-dojo-type="dijit/form/Button" id="zoomin" data-dojo-props="iconClass:'zoominIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="zoomout" data-dojo-props="iconClass:'zoomoutIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="zoomfullext" data-dojo-props="iconClass:'zoomfullextIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="zoomprev" data-dojo-props="iconClass:'zoomprevIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="zoomnext" data-dojo-props="iconClass:'zoomnextIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="pan" data-dojo-props="iconClass:'panIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="deactivate" data-dojo-props="iconClass:'deactivateIcon'"></div>
            @* <span>
            <input id="textMapLink" type="text" style="width:300px;" placeholder="Nhập đường dẫn tài liệu bản đồ" value="" />
                        <button id="addMapLink">Thêm tài liệu bản đồ</button>
                    </span>*@
        </div>
    </div>
</div>


<script type="text/javascript">

    $('ul.nav.nav-tabs  a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

</script>

<script>

    $(document).ready(function () {
        var height = $(window).height();
        height = height - 150;
        $("#map").css("height", height + "px");
        $("#tabAddDataContent").css("height", (height - 40) + "px");
    });

</script>

<script type="text/javascript">
    var package_path = window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/'));
    var dojoConfig = {
        packages: [{
            name: "application",
            location: package_path + '/bootstrap-map-js/src/js'
        }]
    };
</script>
<script src="https://js.arcgis.com/3.19/"></script>
<script src="~/Scripts/config_layout.js"></script>
<script src="~/Scripts/map.js"></script>
<script src="~/Scripts/update-item-view.js"></script>
