@{
    ViewBag.Title = "Liên hệ";
    
}
@model BVTV.WebApplication.Models.Contact
<!-- Contact Area Start -->
<section id="contact-area" class="contact-area pt-120 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-xs-12">

                <div class="row">
                    <!-- Contact Form -->
                    <div class="contact-form col-md-7 col-xs-12 mb-50">
                        <h3 class="block-title">Liên hệ</h3>
                        @using (Html.BeginForm("Send", "Home", FormMethod.Post, new { @class = "contact-form" }))
                        {
                            <div class="input-box input-2">
                                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Tên" })
                            </div>
                            <div class="input-box input-2">
                                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Thư điện tử" })
                            </div>
                            <div class="input-box">
                                @Html.TextAreaFor(m => m.Name, new { @placeholder = "Nội dung" })
                            </div>
                            <div class="input-box"><input type="submit" value="Liên hệ"></div>
                            @Html.ValidationSummary(true, "", new { @class = "form-messege" })
                        }

                    </div>
                    <!-- Contact Detail -->
                    <div class="col-md-5 col-xs-12 mb-50">
                        <div class="row mb-50">
                            <div class="row-sm-4 row-xs-12 mb-30">
                                <div class="single-contact-info">
                                    <h4>Thông tin chi tiết</h4>
                                    <p><i class="fa fa-location-arrow" aria-hidden="true"></i>225 Trần Xuân Soạn</p>
                                    <p><i class="fa fa-phone" aria-hidden="true"></i>096867233</p>
                                    <p><i class="fa fa-envelope" aria-hidden="true"></i>bvtv@binhduong.gov.vn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Contact Area End -->
