@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<!-- Plugins CSS
    ============================================ -->
<link rel="stylesheet" href="~/Content/GreenSoul/css/plugins.css">

<!-- Hero Area Start -->
<section id="hero-area" class="hero-area">
    <!-- Hero Slider -->
    <div id="hero-slider" class="nivoSlider">
        <img src="~/Content/GreenSoul/img/1.jpg" alt="" title="#herocaption-1" />
        <img src="~/Content/GreenSoul/img/2.jpg" alt="" title="#herocaption-2" />
    </div>
    <!-- Hero Slider Caption -->
    <div id="herocaption-1" class="nivo-html-caption">
        <div class="container">
            <div class="row">
                <!-- Hero Content -->
                <div class="hero-content col-xs-12">
                    <h1 class="wow cusFadeInRight" data-wow-duration=".5s" data-wow-delay="0.5s">Tiêu đề</h1>
                    <p class="wow cusFadeInRight" data-wow-duration=".5s" data-wow-delay="1s">Nội dung.....</p>
                    <a href="#" class="learn-more wow cusFadeInRight" data-wow-duration=".5s" data-wow-delay="1.5s">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Slider Caption -->
    <div id="herocaption-2" class="nivo-html-caption">
        <div class="container">
            <div class="row">
                <!-- Hero Content -->
                <div class="hero-content col-xs-12">
                    <h1 class="wow cusFadeInRight" data-wow-duration=".5s" data-wow-delay="0.5s">Tiêu đề</h1>
                    <p class="wow cusFadeInRight" data-wow-duration=".5s" data-wow-delay="1s">Nội dung.....</p>
                    <a href="#" class="learn-more wow cusFadeInRight" data-wow-duration=".5s" data-wow-delay="1.5s">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Area End -->
<!-- Service Area Start -->
<section id="service-area" class="service-area pt-120 pb-120">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="section-title text-center col-xs-12 mb-80">
                <h1>Chi cục bảo vệ thực vật<br /> tỉnh Bình Dương</h1>
                <h2>Trang thông tin địa lý Bảo vệ thực vật</h2>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!--  Single Service  -->
                <div class="single-service text-center col-md-3 col-sm-6 col-xs-12">
                    <img src="~/Content/GreenSoul/img/1.png" alt="">
                    <h4>Mục 1</h4>
                    <p>Nội dung</p>
                </div>
                <!--  Single Service  -->
                <div class="single-service text-center col-md-3 col-sm-6 col-xs-12">
                    <img src="~/Content/GreenSoul/img/2.png" alt="">
                    <h4>Mục 2</h4>
                    <p>Nội dung</p>
                </div>
                <!--  Single Service  -->
                <div class="single-service text-center col-md-3 col-sm-6 col-xs-12">
                    <img src="~/Content/GreenSoul/img/3.png" alt="">
                    <h4>Mục 3</h4>
                    <p>Nội dung</p>
                </div>
                <!--  Single Service  -->
                <div class="single-service text-center col-md-3 col-sm-6 col-xs-12">
                    <img src="~/Content/GreenSoul/img/4.png" alt="">
                    <h4>Mục 4</h4>
                    <p>Nội dung</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Area End -->
<!-- Blog Area Start -->
<section id="blog-area" class="blog-area pt-120 pb-90">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="section-title text-center col-xs-12 mb-80">
                <h2>Thông tin sâu bệnh</h2>
            </div>
        </div>
        <div class="row">
            <!--  Blog Item  -->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="blog-item">
                    <!--  Image  -->
                    <a href="#" class="image"><img src="~/Content/GreenSoul/img/1.jpg" alt=""></a>
                    <!--  Content  -->
                    <div class="content">
                        <h4><a href="#">Dịch nấm tràn lan</a></h4>
                        <!--  Meta  -->
                        <div class="meta fix">
                        </div>
                        <p>Thông tin mới nhất từ</p>
                        <a href="#" class="read-more">Đọc thêm</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@Scripts.Render("~/bundles/greensoul")
