@{
    ViewBag.Title = "Bản đồ";

}
@section headtag{
    <link rel="stylesheet" href="https://js.arcgis.com/4.3/esri/css/main.css">
    <link href="~/Content/map.css" rel="stylesheet" />
    <script src="https://js.arcgis.com/4.3/"></script>
}

<section id="map-area" class="pb-100">
    <div class="col-md-4 col-lg-3">
        <h3>Tìm kiếm</h3>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <ul class="nav nav-tabs nav-green nav-justified responsive" id="myTab">
                    <li class="active"><a data-toggle="pill" href="#tab-doanhnghiep">Doanh nghiệp</a></li>
                    <li><a id="a-tab-saubenh" data-toggle="pill" href="#tab-saubenh">Sâu bệnh</a></li>
                    <li><a id="a-tab-trongtrot" data-toggle="pill" href="#tab-trongtrot">Trồng trọt</a></li>
                </ul>

                <div class="tab-content responsive">
                    <div class="tab-pane active" id="tab-doanhnghiep">
                        <h5>Tìm thông tin Doanh nghiệp</h5>
                        <div class="formSearch">
                            <input type="text" id="txtMaDN" placeholder="Mã doanh nghiệp" />
                            <input type="text" id="txtTen" placeholder="Tên doanh nghiệp" />
                            <input type="text" id="txtQuanHuyen" placeholder="Quận/Huyện" disabled />
                            <input type="button" id="btnFind" value="Tìm kiếm">
                            <img src="~/Content/img/default.gif" class="loading" style="display: none;" />
                        </div>
                        <div class="resultFormSearch">
                            <table data-toggle="table" class="table" data-row-style="rowStyle">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã</th>
                                        <th>Tên doanh nghiệp <span class="label label-danger pull-right" id="counter">0</span></th>
                                    </tr>
                                </thead>

                                <tbody id="result"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-saubenh">

                        <h5>Tìm thông tin Sâu bệnh</h5>
                        <div class="formSearch">
                            <select id="cbNhomCayTrong">
                                <option value="" selected>Nhóm cây trồng</option>
                            </select>
                            <select id="cbLoaiCayTrong">
                                <option value="" selected>Loại cây trồng</option>
                            </select>
                            <select id="cbCapDoGayHai">
                                <option value="" selected>Cấp độ gây hại</option>
                            </select>
                            <input type="number" id="nbPhamViAnhHuong" placeholder="Phạm vi ảnh hưởng" />
                            <input type="number" id="nbDienTich" placeholder="Diện tích" />
                            <input type="button" id="btnFind" value="Tìm kiếm" />
                            <img src="~/Content/img/default.gif" class="loading" style="display: none;" />
                        </div>
                        <div class="resultFormSearch">
                            <table data-toggle="table" class="table" data-row-style="rowStyle">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã</th>
                                        <th>Tên sâu bệnh  <span class="label label-danger  pull-right" id="counter">0</span></th>
                                    </tr>
                                </thead>
                                <tbody id="result"></tbody>
                            </table>
                        </div>

                    </div>
                    <div class="tab-pane" id="tab-trongtrot">

                        <h5>Tìm thông tin Cây trồng</h5>
                        <div class="formSearch">
                            <select id="cbNhomCayTrong">
                                <option value="" selected>Nhóm cây trồng</option>
                            </select>
                            <select id="cbLoaiCayTrong">
                                <option value="" selected>Loại cây trồng</option>
                            </select>
                            <select id="cbPhuongThucTrong">
                                <option value="" selected>Phương thức trồng</option>
                            </select>
                            <input type="number" id="nbDienTich" placeholder="Diện tích" />
                            <input type="button" id="btnFind" value="Tìm kiếm" />
                            <img src="~/Content/img/default.gif" class="loading" style="display: none;" />
                        </div>
                        <div class="resultFormSearch">
                            <table data-toggle="table" class="table" data-row-style="rowStyle">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã</th>
                                        <th>Huyện/TP  <span class="label label-danger  pull-right" id="counter">0</span></th>
                                    </tr>
                                </thead>
                                <tbody id="result"></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-lg-9" id="tabMapControl">
        <div id="map">
        </div>
    </div>



</section>
@section scripts{
    @Scripts.Render("~/bundles/map")
    <script type="text/javascript">

        $('ul.nav.nav-tabs  a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

    </script>
}