@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{

    ViewBag.Title = "Xóa role";

    Layout = "~/Areas/Admin/Views/Shared/_LayoutDelete.cshtml";

}


<div class="text-center">

    <h5>Bạn có chắc muốn xóa role @Model.Name ? </h5>

    @using (Html.BeginForm())

            {

        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <button type="submit" class="btn btn-primary">Chấp nhận</button>

                <a href="@Url.Action("Index")" class="btn btn-default">Không xóa</a>

    }

</div>

